body {
  background-color: #14274e;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  text-align: center;
}

.card {
  width: 700px;
  justify-self: center;
  margin-top: 25px;
  padding: 10px;
}

.margin-top {
  margin-top: 8px !important;
}
